# Core Libraries
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2

# Deep Learning Libraries
tensorflow==2.11.0
keras==2.11.0

# Audio Processing Libraries
librosa==0.10.0
audioread==3.0.0

# Logging and Progress Tracking
tqdm==4.64.1

# Miscellaneous
joblib==1.2.0